.DS_Store
/user_management/__pycache__
*.pyc
/user_management/venv
/user_management/app/static/webassets-external
*.sqlite
user_management/data-dev.sqlite
config.env
user_management/app/static/.webassets-cache
user_management/app/twilio_sms.py
shortener_app/.env
user_management/dump.rdb
shortener.db
