.DS_Store
/user_management/__pycache__
*.pyc
/user_management/venv
/user_management/app/static/webassets-external
*.sqlite
user_management/data-dev.sqlite
config.env
user_management/app/static/.webassets-cache
user_management/app/twilio_sms.py
shortener_app/.env
user_management/dump.rdb
shortener.db
/shortener_app/alembic
/user_management/alembic
user_management/alembic.ini
shortener_app/test_create_url.txt
user_management/SBG_20230811.pdf
user_management/app/nt_sms.py
apikey.db
user_management/app/static/favicon.ico
/user_management/app/public/webassets-external
/user_management/app/public/.webassets-cache
user_management/app/templates/partials/_head.html
