.DS_Store
/user_management/__pycache__
*.pyc
/user_management/venv
/user_management/app/static/webassets-external
*.sqlite
user_management/data-dev.sqlite
config.env
user_management/config.env
user_management/app/static/.webassets-cache
user_management/app/twilio_sms.py
shortener_app/.env
user_management/dump.rdb
shortener.db
/shortener_app/alembic
/user_management/alembic
user_management/alembic.ini
shortener_app/test_create_url.txt
user_management/SBG_20230811.pdf
user_management/app/nt_sms.py
apikey.db
user_management/app/static/favicon.ico
/user_management/app/public/webassets-external
/user_management/app/public/.webassets-cache
/safe_view/static/screenshots/*.png
/scraper/output
/shortener_app/static/screenshots/*.png
/user_management/app/static/screenshots/*.png
user_management/app/templates/main/preview_.html
shortener_app/openapi_shorten_url.json
/venv
/shortener_app/apikey
/shortener_app/blacklist
shortener_app/blacklist.db
blacklist.db
/user_management/migrations
tmp/blacklist_.html
tmp/blacklist_1.html
scale_api/celery_app.py
scale_api/main_celery.py
scale_api/tasks.py
db/api_key_202411241335.sql
db/kaebmoo-apikey.db
db/kaebmoo-shortener.db
db/urls_202411240754.sql
db/urls_202411240759.csv
db/urls_202411240813.sql
db/urls_202411240824.csv
user_management/docs/users_202411231156.sql
user_management/docs/users_202411231158.sql
user_management/docs/roles_202411231203.sql
db/users_202411231156.sql
db/users_202411231158.sql
sendgrid.env
tmp/sendgrid_email.py
user_management/test_sync.py
