aiofiles
aiohttp
alembic
beautifulsoup4
cryptography
email-validator
fastapi
flask_rq2
flask_socketio
Flask-Assets
Flask-Compress
Flask-CORS
Flask-Login
Flask-Mail
Flask-Migrate==2.7.0
Flask-SQLAlchemy==3.0.5 
Flask-SSE
Flask-WTF
flask==2.3.3
gevent
google-api-core
google-cloud
google-cloud-webrisk
gunicorn
httpx
isort
jinja2
pandas
phonenumbers
Pillow
playwright
psycopg2
pydantic_settings
pyjwt 
PyJWT==2.8.0
pyotp
python-dotenv
pytz
qrcode[pil]
qrcodegen
raygun4py
redis
redis-py-cluster
rq
slowapi
SQLAlchemy
starlette
uvicorn
validators
vt-py
WTForms-SQLAlchemy
yapf