<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>

        <div class="ui container">
            <br>
            <div class="ui segment">
                <h3 class="ui header">Introduction</h3>
                <p>The URL Shortener project is a versatile tool designed to convert long URLs into shorter, more manageable links. It aims to provide users with a seamless experience in managing and sharing URLs, whether for personal use or business needs. The project emphasizes simplicity, security, and efficiency, making it an ideal solution for anyone looking to streamline their online presence.</p>
            </div>
            <div class="ui segment">
                <h3 class="ui header">Features</h3>
                <ol class="ui list">
                    <li><strong>URL Shortening</strong>: Converts long URLs into short, easy-to-share links.</li>
                    <li><strong>QR Code Generation</strong>: Generates QR codes for shortened URLs, which can be displayed on the screen or downloaded as base64 images.</li>
                    <li><strong>Database Integration</strong>: Uses SQLAlchemy for efficient database management, ensuring data is stored and retrieved seamlessly.</li>
                    <li><strong>API Access</strong>: Provides a FastAPI-based API for programmatic access to URL shortening features.</li>
                    <li><strong>User Authentication</strong>: Incorporates user authentication to ensure secure access to URL management features.</li>
                </ol>
            </div>
            <div class="ui segment">
                <h3 class="ui header">Funding</h3>
                <p>This project received funding from National Telecom in 2024, which has been instrumental in supporting its development and implementation.</p>
            </div>
        </div>
    </body>
</html>
