{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui container">
      <h1>Hello {% if not (current_user.is_authenticated) %} world {% else %} {{ current_user.full_name() }} {% endif %},</h1>

      {% if current_user.is_authenticated %}
      <h2>Your Shortened URLs ({{ url_count }})</h2>
        <div class="ui segment">
          <div class="ui scrolling container">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th style="width: 30%;">Target URL</th>
                  <th style="width: 20%;">Shortened URL</th>
                  <th style="width: 5%;">Clicks</th>
                  <th style="width: 15%;">Created At</th>
                  <th style="width: 15%;">Updated At</th>
                  <th style="width: 5%;">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for url in user_urls %}
                  {% set status = url.status if url.status else '' %}
                  <tr {% if status and status.upper() == 'DANGER' %} style="background-color: #ffcccc;" {% endif %}>
  
                    <td style="width: 30%;">{{ url.target_url }}</td>
                    <td style="width: 20%;">
                      {% if status and status.upper() != 'DANGER' %}
                        <a href="{{ shortener_host }}/{{ url.key }}" target="_blank">{{ shortener_host }}/{{ url.key }}</a>
                      {% else %}
                        {{ shortener_host }}/{{ url.key }}
                      {% endif %}
                    </td>                    
                    <td style="width: 5%;">{{ url.clicks }}</td>
                    <td style="width: 15%;">{{ url.created_at }}</td>
                    <td style="width: 15%;">{{ url.updated_at }}</td>
                    <td style="width: 5%;">{{ status.upper() }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <p>This is <a href="http://hack4impact.org">Hack4Impact</a>'s web application template. We'll use this as a
        foundation for each of our <a href="http://flask.pocoo.org">Flask</a> projects. The goal is to reduce the work
        necessary to get a new project off the ground, by providing boilerplate code (such as account management
        facilities), as well as uncontroversial and extensible defaults. We have integrated an
        <a href="http://sass-lang.com">SCSS</a>-based asset pipeline based around a (fantastic!) framework
        called <a href="http://semantic-ui.com">Semantic UI</a>. Much of this code is appropriated from the examples
        in Miguel Grinberg's book, <a href="http://flaskbook.com"><em>Flask Web Development</em></a>.</p>

      {% endif %}
        <!---
        <p>{{ lipsum(6) }}</p>
        -->
    </div>
{% endblock %}
